*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

header{
    background:#2563eb;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

main{
    width:80%;
    margin:auto;
    padding:30px 0;
}

section{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

img{
    border-radius:50%;
    margin-bottom:20px;
}

ul{
    margin-left:20px;
}

article{
    margin-top:20px;
    padding:15px;
    border-left:5px solid #2563eb;
    background:#f9f9f9;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
